<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blood Donation</title>
    <link rel="stylesheet" type="text/css" href="~/Content/whereto.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5aa63ed45f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <header class="header">
            <div class="flex">
                <div class="logo">
                    <a href="~/Home"><img src="../Assets/images/blood-donation.png"></a>
                    <h1 class="logo-h"><a href="~/Home">IKU <span class="logo-h2">Blood Bank</span></a></h1>
                </div>
                <button class="mobile-nav" aria-controls="primary-navigation" id="mobile-nav" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-xmark"></i>
                    <span class="visually-hidden">Menu</span>
                </button>
                <nav class="nav">
                    <ul class="list">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Who Can Give Blood", "WhoCanGiveBlood", "Home")</li>
                        <li>@Html.ActionLink("Why Give Blood", "WhyGiveBlood", "Home")</li>
                        <li>@Html.ActionLink("Where to Donate", "WhereToDonate", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div class="">
        @RenderBody()

        <footer id="footer">
            <div class="f-container">
                <div class="row">
                    <!-- col #1 -->
                    <div class="col-1">
                        <h3 class="letter-spacing-1">OTHER WEB SITES</h3>
                        <ul>
                            <li>
                                <a href="http://www.kanver.org/" title="Blood Services">Blood Services</a>
                            </li>
                            <li>
                                <a href="https://www.iku.edu.tr/" title="Health Group">İKÜ Health </a>
                            </li>
                            <li>
                                <a href="https://www.iku.edu.tr/" title=" Kültür">Kültür Üniversitesi</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /col #1 -->
                    <!-- col #2 -->
                    <div class="col-2">
                        <h3 class="letter-spacing-1">CATEGORIES</h3>
                        <ul>
                            <li>
                                <a href="/Bagis/" rel="external" target="_blank" title="Donation Page">Donation Page</a>
                            </li>
                            <li>
                                <a href="#" rel="external" target="_blank" title="Frequently Asked Questions">Frequently Asked Questions</a>
                            </li>
                            <li>
                                <a href="#" rel="external" target="_blank" title="Human Resources">Human Resources</a>
                            </li>
                            <li>
                                <a href="#" rel="external" target="_blank" title="Links">Links</a>
                            </li>
                            <li>
                                <a href="#" rel="external" target="_blank" title="Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!--/col #2-->
                    <!-- col #3 -->
                    <div class="col-3">
                        <h3 class="letter-spacing-1">DONATIONS</h3>
                        <ul>
                            <li>
                                <a href="#" rel="external" target="_blank" title="General Donations">General Donations</a>
                            </li>
                            <li>
                                <a href="#" rel="external" target="_blank" title="Social  Donations">Social Donations</a>
                            </li>
                            <li>
                                <a href="#" rel="external" target="_blank" title="International Donations">International Donations</a>
                            </li>
                            <li>
                                <a href="#" rel="external" target="_blank" title="Response Donations"> Response Donations</a>
                            </li>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="c-container">
                    <ul class="pull-right">
                        <li>
                            <h5 class="letter-spacing-1">Copyright © 2023 IKU Blood Bank</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!--<footer id="footer">
        <div class="f-container">
            <div class="row">-->
        <!-- col #1 -->
        <!--<div class="col-1">
        <h3 class="letter-spacing-1">OTHER WEB SITES</h3>
        <ul>
            <li>
                <a href="http://www.kanver.org/" title="Blood Services">Blood Services</a>
            </li>
            <li>
                <a href="https://www.iku.edu.tr/" title="Health Group">İKÜ Health </a>
            </li>
            <li>
                <a href="https://www.iku.edu.tr/" title=" Kültür">Kültür Üniversitesi</a>
            </li>
        </ul>
    </div>-->
        <!-- /col #1 -->
        <!-- col #2 -->
        <!--<div class="col-2">
        <h3 class="letter-spacing-1">CATEGORIES</h3>
        <ul>
            <li>
                <a href="/Bagis/" rel="external" target="_blank" title="Donation Page">Donation Page</a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" title="Frequently Asked Questions">Frequently Asked Questions</a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" title="Human Resources">Human Resources</a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" title="Links">Links</a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" title="Contact">Contact</a>
            </li>
        </ul>
    </div>-->
        <!--/col #2-->
        <!-- col #3 -->
        <!--<div class="col-3">
        <h3 class="letter-spacing-1">DONATIONS</h3>
        <ul>
            <li>
                <a href="#" rel="external" target="_blank" title="General Donations">General Donations</a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" title="Social  Donations">Social Donations</a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" title="International Donations">International Donations</a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" title="Response Donations"> Response Donations</a>
            </li>
    </div>-->
        <!-- /col #3 -->
        <!--<div class="col-4">
                    <form class="validate" data-success="Successful" data-toastr-position="bottom-right" method="post">
                        <h2>SUBSCRIBE TO BULLETIN</h2>
                        <br /> &nbsp;
                        <div class="input-group">
                            <input class="form-control required" id="email" name="email" placeholder="Your e-mail address" type="email" />
                            <span class="input-group-btn">
                                <a class="btn" href="#">SEND</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="c-container">
                <ul class="pull-right">
                    <li>
                        <h5 class="letter-spacing-1">
                            <a href="https://www.iku.edu.tr/">İKU KAN BAĞIŞI</a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </footer>-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/main.js" type="text/javascript"></script>
    <script src="~/Scripts/leaflet-search.js" type="text/javascript"></script>
    <script src="~/Scripts/header.js" type="text/javascript"></script>
    <script src="~/Scripts/accordion.js" type="text/javascript"></script>
</body>
</html>
